.sidebar {
  max-height: calc(100vh - 116px);
}

.hidden_panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s;
}

.hidden_panel.show {
  display: block;
  max-height: 400px;
}
.active {
  font-weight: 700 !important;
}
.active p {
  color: #7bf1a8 !important;
}
